In [1]:
import pandas as pd
import numpy as np
import statistics 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from scipy import stats
warnings.filterwarnings("ignore")
import gmpy2

In [2]:
data =pd.read_csv("factbook.csv")

In [3]:
data

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%),Unnamed: 45
0,Afghanistan,647500,47.0,NaN,21.0,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,...,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,7.0,NaN,NaN
1,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,28748,15.0,-5.040000e+08,5.0,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,...,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.0,15.0,NaN
3,Algeria,2381740,17.0,1.190000e+10,5.0,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,...,1.187000e+10,32531853.0,37.0,3973.0,4.355000e+10,2199600.0,1447310.0,2.0,25.0,NaN
4,American Samoa,199,23.0,NaN,3.0,NaN,1.209000e+08,1.300000e+08,3.000000e+07,5.000000e+08,...,NaN,57881.0,NaN,NaN,NaN,15000.0,2377.0,3.0,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,West Bank,5860,32.0,NaN,4.0,1.080000e+08,NaN,NaN,2.050000e+08,1.800000e+09,...,NaN,2385615.0,NaN,NaN,NaN,301600.0,480000.0,4.0,27.0,NaN
259,Western Sahara,266000,NaN,NaN,NaN,NaN,8.370000e+07,9.000000e+07,NaN,NaN,...,NaN,273008.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
260,Yemen,527970,43.0,3.699000e+08,9.0,5.400000e+09,2.827000e+09,3.040000e+09,4.468000e+09,1.625000e+10,...,4.000000e+09,20727063.0,46.0,NaN,5.300000e+09,542200.0,411100.0,7.0,35.0,NaN
261,Zambia,752614,41.0,-1.814000e+08,20.0,5.353000e+09,5.345000e+09,8.167000e+09,1.548000e+09,9.409000e+09,...,NaN,11261795.0,128.0,2173.0,3.450000e+08,88400.0,241000.0,5.0,50.0,NaN
262,Zimbabwe,390580,30.0,-2.303000e+08,25.0,4.086000e+09,1.122000e+10,8.839000e+09,1.409000e+09,2.437000e+10,...,NaN,12746990.0,52.0,3077.0,5.700000e+07,300900.0,379100.0,4.0,70.0,NaN

In [4]:
data.dtypes

Country                                            object
Area(sq km)                                         int64
Birth rate(births/1000 population)                float64
Current account balance                           float64
Death rate(deaths/1000 population)                float64
Debt - external                                   float64
Electricity - consumption(kWh)                    float64
Electricity - production(kWh)                     float64
Exports                                           float64
GDP                                               float64
GDP - per capita                                  float64
GDP - real growth rate(%)                          object
HIV/AIDS - adult prevalence rate(%)               float64
HIV/AIDS - deaths                                 float64
HIV/AIDS - people living with HIV/AIDS            float64
Highways(km)                                      float64
Imports                                           float64
Industrial production growth rate(%)               object
Infant mortality rate(deaths/1000 live births)    float64
Inflation rate (consumer prices)(%)                object
Internet hosts                                    float64
Internet users                                    float64
Investment (gross fixed)(% of GDP)                float64
Labor force                                       float64
Life expectancy at birth(years)                   float64
Military expenditures - dollar figure             float64
Military expenditures - percent of GDP(%)         float64
Natural gas - consumption(cu m)                   float64
Natural gas - exports(cu m)                       float64
Natural gas - imports(cu m)                       float64
Natural gas - production(cu m)                    float64
Natural gas - proved reserves(cu m)               float64
Oil - consumption(bbl/day)                        float64
Oil - exports(bbl/day)                            float64
Oil - imports(bbl/day)                            float64
Oil - production(bbl/day)                         float64
Oil - proved reserves(bbl)                        float64
Population                                        float64
Public debt(% of GDP)                             float64
Railways(km)                                      float64
Reserves of foreign exchange & gold               float64
Telephones - main lines in use                    float64
Telephones - mobile cellular                      float64
Total fertility rate(children born/woman)         float64
Unemployment rate(%)                              float64
Unnamed: 45                                       float64
dtype: object

In [5]:
data.isnull()

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%),Unnamed: 45
0,False,False,False,True,False,False,False,False,False,False,...,False,False,True,True,True,False,False,False,True,True
1,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,True,False,True,False,False,False,False,...,True,False,True,True,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,False,False,False,True,False,False,True,True,False,False,...,True,False,True,True,True,False,False,False,False,True
259,False,False,True,True,True,True,False,False,True,True,...,True,False,True,True,True,True,False,True,True,True
260,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
261,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
262,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True

In [ ]:
data.drop("Unnamed: 45",axis=1,inplace=True)

In [ ]:
data

In [ ]:
data.fillna(data.mean(),inplace=True)

In [ ]:
data

In [ ]:
data.describe()

In [ ]:
data.loc[:, ["Country","Area(sq km)","Reserves of foreign exchange & gold"]]

# we just save the above clean data so that i can change the dtypes of scientific notation to int type

In [ ]:
country=pd.read_csv("newdata.csv") # new as i have many columsn which i wan t o convert in to int so i change its before uploading in pandas

In [ ]:
country

In [ ]:
country.drop("Unnamed: 45",axis=1,inplace=True)

In [ ]:
country

In [ ]:
country.dtypes

In [ ]:
data.loc[:, ["Country","Area(sq km)","Reserves of foreign exchange & gold"]]

In [ ]:
# Assuming 'Country' is the name of the column that contains country names
max_value_index = country['Reserves of foreign exchange & gold'].idxmax()
max_country = country.loc[max_value_index, 'Country']
max_value = country.loc[max_value_index, 'Reserves of foreign exchange & gold']
print("The country with the highest reserves of foreign exchange & gold is", max_country, "with a value of", max_value)

# groupby to show forex reserve across country name

In [ ]:
max_reserve = country.groupby('Country')['Reserves of foreign exchange & gold'].max()
print (max_reserve)

# top 10 highest forex reserve holding countries

In [ ]:
# Select top 10 rows by forex reserves
top_10 = country.nlargest(10, 'Reserves of foreign exchange & gold')

In [ ]:
 top_10.groupby('Country')['Reserves of foreign exchange & gold'].max()

# highest forex reserve holding country

In [ ]:
top_reserve = country.nlargest(1, 'Reserves of foreign exchange & gold')
top_reserve.groupby("Country")["Reserves of foreign exchange & gold"].max()

# top 10 area wise countries #nlargest

In [ ]:
top_10 = country.nlargest(10, 'Area(sq km)')

In [ ]:
 top_10.groupby('Country')['Area(sq km)'].max()

# largest populated country

In [ ]:
top=country.nlargest(1,"Population") 
top.groupby("Country")["Population"].max()

# highest electricity consuming country

In [ ]:
highest_elect =country.nlargest(1,"Electricity - consumption(kWh)") 
highest_elect.groupby("Country")["Electricity - consumption(kWh)"].max()

# highest producer of electricity

In [ ]:
highest_producer =country.nlargest(1,"Electricity - production(kWh)") 
highest_producer.groupby("Country")["Electricity - production(kWh)"].max()

# lowest 10 countries in area

In [ ]:
low_10 = country.nsmallest(10, 'Area(sq km)')
low_10.groupby('Country')['Area(sq km)'].max()

# lowest forex reserve holding country

In [ ]:
low_reserve = country.nsmallest(1, 'Reserves of foreign exchange & gold')
low_reserve.groupby("Country")["Reserves of foreign exchange & gold"].min()

# least populated country

In [ ]:
low_population=country.nsmallest(1,"Population") 
low_population.groupby("Country")["Population"].min()

# lowest electricity producing country

In [ ]:
lowest_elect =country.nsmallest(1,"Electricity - production(kWh)") 
lowest_elect.groupby("Country")["Electricity - production(kWh)"].min()

# lowest electricity producing country

In [ ]:
lowest_electconsumption =country.nsmallest(1,"Electricity - consumption(kWh)") 
lowest_electconsumption .groupby("Country")["Electricity - consumption(kWh)"].min()

# highest and lowest unemployment rate

In [ ]:
highest_unemp=country.nlargest(1,"Unemployment rate(%)")
highest_unemp.groupby("Country")["Unemployment rate(%)"].max()

In [ ]:
lowest_unemp=country.nsmallest(1,"Unemployment rate(%)")
lowest_unemp.groupby("Country")["Unemployment rate(%)"].min()